        	h2 {
        	  font-size: 35px;
			  text-align: center;
			  color: orange;
			  font-weight: bold;
        	}
        	table, th, td{
        	  text-align: center;
        	  margin: auto;
        	  border: 0.5px solid;
        	}
        	th {
        	  background-color: black;
        	  color: white;
        	  padding: 24px;
        	}
        	td {
        	  background-color: #777;
        	  color: white;
        	  padding: 16px;
        	}
        	.formathead {
        	  color: orange;
        	  font-weight: bold;
        	  text-align: left;
        	  display: flex;
        	  margin: 0 20px;
        	  padding: 0 20px;
        	  font-size: 25px;
        	}
			.formatlink {
				color: orange;
				font-weight: bold;
				text-align: center;
				display: flex;
				margin: 0 20px;
				padding: 0 20px;
				font-size: 15px;
			}