name: Build and Push Docker image to Docker Hub to create website

on: push
jobs:
  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3
      
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}
    
      - name: Build and push Docker images
        uses: docker/build-push-action@v4
        with:
          context: website_files/
          push: true
          tags: jacobs12/project:${{github.run_number}}
